.git
.venv
__pycache__
*.pyc
.pytest_cache
.mypy_cache
.vscode
.idea
*.md
!requirements.txt
node_modules
*.log
tmp/
.air.toml
.style.yapf
.gitignore
.gitattributes
.devcontainer
.github
.helix
.weblate
.yamllint.yml
tests/
docs/
local/
utils/
searxng_extra/
client/
container/
go.mod
go.sum
*.json
!package.json
