# Users service
USERS_ADDR=:8082
USERS_MONGO_URI=mongodb://localhost:27017
USERS_MONGO_DB=p22194
USERS_JWT_SECRET=change_me
USERS_JWT_ACCESS_TTL=15m
USERS_JWT_REFRESH_TTL=168h
USERS_MAIL_BASE_URL=http://localhost:8085
USERS_MAIL_TIMEOUT=5s
USERS_MAIL_VERIFICATION_URL=http://localhost:5173/auth/verify-email
USERS_MAIL_VERIFICATION_TTL=24h
USERS_LOG_LEVEL=info
USERS_LOG_FORMAT=pretty

# API Gateway
GATEWAY_AUTH_JWT_SECRET=change_me
KITCHEN_JWT_SECRET=change_me

# God service
GOD_ADDR=:8087
GOD_MONGO_URI=mongodb://localhost:27017
GOD_MONGO_DB=p22194
GOD_LOG_LEVEL=info
GOD_LOG_FORMAT=pretty

# Mail service
MAIL_ADDR=:8085
MAIL_FROM_EMAIL=noreply@noreply.prrrathm.com
MAIL_FROM_NAME=noreply
RESEND_API_KEY=re_your_api_key_here
