[submodule "mdb-schemas"]
	path = mdb-schemas
	url = https://github.com/prrrathm/p22194-mdb.git
	branch = main
[submodule "api-gateway"]
	path = api-gateway
	url = https://github.com/prrrathm/p22194-api-gateway.git
	branch = main
[submodule "services/users"]
	path = services/users
	url = https://github.com/prrrathm/p22194-svc-users.git
	branch = main
[submodule "services/kitchen"]
	path = services/kitchen
	url = https://github.com/prrrathm/p22194-svc-kitchen.git
	branch = main
[submodule "clients/kitchen-client"]
	path = clients/kitchen-client
	url = https://github.com/prrrathm/p22194-client-kitchen.git
	branch = main
[submodule "services/find-my-trip"]
	path = services/find-my-trip
	url = https://github.com/prrrathm/find-my-trip-svc.git
	branch = main
[submodule "clients/find-my-trip-client"]
	path = clients/find-my-trip-client
	url = https://github.com/prrrathm/find-my-trip-client.git
	branch = main
[submodule "clients/p22194-god-client"]
	path = clients/p22194-god-client
	url = https://github.com/prrrathm/p22194-god-client.git
	branch = main
